set_location IN_MUX_bfv_8_8_0_ 8 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_9_0_ 8 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_10_0_ 8 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_11_0_ 8 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_12_0_ 8 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_13_0_ 8 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_9_0_ 6 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_10_0_ 6 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_12_0_ 5 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_13_0_ 5 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_1_0_ 8 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_2_0_ 8 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_3_0_ 8 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_4_0_ 8 4 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ZERO_LUT4 11 7 1 #SB_LUT4
set_location CONSTANT_ONE_LUT4 7 13 6 #SB_LUT4
set_location SPI_Master_INST.w_tc_counter_data_THRU_LUT4_0 8 9 0 #SB_LUT4
set_location w_rstb_ibuf_RNIM801_fifo_clear_REP_LUT4_0 1 8 1 #SB_LUT4
set_location r_Data_to_DAC_9_THRU_LUT4_0 2 11 2 #SB_LUT4
set_location r_Data_to_DAC_8_THRU_LUT4_0 2 11 3 #SB_LUT4
set_location r_Data_to_DAC_7_THRU_LUT4_0 2 9 1 #SB_LUT4
set_location r_Data_to_DAC_6_THRU_LUT4_0 1 9 6 #SB_LUT4
set_location r_Data_to_DAC_5_THRU_LUT4_0 2 7 6 #SB_LUT4
set_location r_Data_to_DAC_4_THRU_LUT4_0 2 9 4 #SB_LUT4
set_location r_Data_to_DAC_3_THRU_LUT4_0 2 5 4 #SB_LUT4
set_location r_Data_to_DAC_2_THRU_LUT4_0 2 5 6 #SB_LUT4
set_location r_Data_to_DAC_13_THRU_LUT4_0 4 13 4 #SB_LUT4
set_location r_Data_to_DAC_12_THRU_LUT4_0 2 14 4 #SB_LUT4
set_location r_Data_to_DAC_11_THRU_LUT4_0 4 13 3 #SB_LUT4
set_location r_Data_to_DAC_10_THRU_LUT4_0 4 13 2 #SB_LUT4
set_location r_Data_to_DAC_1_THRU_LUT4_0 2 5 1 #SB_LUT4
set_location r_Data_to_DAC_0_THRU_LUT4_0 2 5 3 #SB_LUT4
set_location fifo_wr_data_9_THRU_LUT4_0 4 10 5 #SB_LUT4
set_location fifo_wr_data_8_THRU_LUT4_0 4 10 0 #SB_LUT4
set_location fifo_wr_data_7_THRU_LUT4_0 4 6 4 #SB_LUT4
set_location fifo_wr_data_6_THRU_LUT4_0 4 7 1 #SB_LUT4
set_location fifo_wr_data_5_THRU_LUT4_0 4 7 3 #SB_LUT4
set_location fifo_wr_data_4_THRU_LUT4_0 4 7 5 #SB_LUT4
set_location fifo_wr_data_3_THRU_LUT4_0 4 5 2 #SB_LUT4
set_location fifo_wr_data_2_THRU_LUT4_0 4 5 1 #SB_LUT4
set_location fifo_wr_data_10_THRU_LUT4_0 4 10 2 #SB_LUT4
set_location fifo_wr_data_1_THRU_LUT4_0 4 3 2 #SB_LUT4
set_location fifo_wr_data_0_THRU_LUT4_0 4 3 1 #SB_LUT4
set_location dds_clk_RNII00A_SineDDS_INST.p_rom_lut_value_1_0_0_sr_en_REP_LUT4_0 6 8 7 #SB_LUT4
set_location dds_clk_THRU_LUT4_0 4 8 7 #SB_LUT4
set_location async_fifo_inst.reg_fifo_empty_RNIEGAI_fifo_rd_en_REP_LUT4_0 6 12 3 #SB_LUT4
set_location async_fifo_inst.reg_fifo_empty_THRU_LUT4_0 7 6 0 #SB_LUT4
set_location SineDDS_INST.r_sync_reset_THRU_LUT4_0 7 2 4 #SB_LUT4
set_location SineDDS_INST.r_fcw_10_THRU_LUT4_0 7 2 5 #SB_LUT4
set_location SineDDS_INST.p_rom_lut_value_1_0_5_OLD_e_0_THRU_LUT4_0 9 7 0 #SB_LUT4
set_location SineDDS_INST.p_rom_lut_value_1_0_4_OLD_e_1_THRU_LUT4_0 9 5 4 #SB_LUT4
set_location SineDDS_INST.p_rom_lut_value_1_0_4_OLD_e_0_THRU_LUT4_0 9 8 0 #SB_LUT4
set_location SineDDS_INST.p_rom_lut_value_1_0_3_OLD_e_1_THRU_LUT4_0 9 7 7 #SB_LUT4
set_location SineDDS_INST.p_rom_lut_value_1_0_3_OLD_e_0_THRU_LUT4_0 9 7 1 #SB_LUT4
set_location SineDDS_INST.p_rom_lut_value_1_0_2_OLD_e_1_THRU_LUT4_0 9 5 6 #SB_LUT4
set_location SineDDS_INST.p_rom_lut_value_1_0_2_OLD_e_0_THRU_LUT4_0 9 5 3 #SB_LUT4
set_location SineDDS_INST.p_rom_lut_value_1_0_1_OLD_e_1_THRU_LUT4_0 9 3 0 #SB_LUT4
set_location SineDDS_INST.p_rom_lut_value_1_0_1_OLD_e_0_THRU_LUT4_0 9 3 4 #SB_LUT4
set_location SineDDS_INST.p_rom_lut_value_1_0_0_OLD_e_1_THRU_LUT4_0 6 1 7 #SB_LUT4
set_location SineDDS_INST.p_rom_lut_value_1_0_0_OLD_e_0_THRU_LUT4_0 9 1 3 #SB_LUT4
set_location SineDDS_INST.o_sine_1_9_THRU_LUT4_0 7 7 3 #SB_LUT4
set_location SineDDS_INST.o_sine_1_8_THRU_LUT4_0 5 10 2 #SB_LUT4
set_location SineDDS_INST.o_sine_1_7_THRU_LUT4_0 8 6 0 #SB_LUT4
set_location SineDDS_INST.o_sine_1_6_THRU_LUT4_0 7 7 7 #SB_LUT4
set_location SineDDS_INST.o_sine_1_5_THRU_LUT4_0 7 5 0 #SB_LUT4
set_location SineDDS_INST.o_sine_1_4_THRU_LUT4_0 7 5 6 #SB_LUT4
set_location SineDDS_INST.o_sine_1_3_THRU_LUT4_0 7 5 2 #SB_LUT4
set_location SineDDS_INST.o_sine_1_2_THRU_LUT4_0 6 5 3 #SB_LUT4
set_location SineDDS_INST.o_sine_1_10_THRU_LUT4_0 5 10 1 #SB_LUT4
set_location SineDDS_INST.o_sine_1_1_THRU_LUT4_0 5 2 5 #SB_LUT4
set_location SineDDS_INST.o_sine_1_0_THRU_LUT4_0 5 3 3 #SB_LUT4
set_location SPI_Master_INST.clock_counter_RNIAP6D_0_SPI_Master_INST.clock_counter_0_REP_LUT4_0 7 8 1 #SB_LUT4
set_location SPI_Master_INST.Tx_start_THRU_LUT4_0 6 11 1 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[21] 8 3 4 #SB_LUT4
set_location SineDDS_INST.r_nco[16] 8 2 7 #SB_DFFER
set_location SPI_Master_INST.Bit_Index[28] 8 13 4 #SB_DFFR
set_location fifo_wr_data[7] 4 6 4 #SB_DFFE
set_location SineDDS_INST.r_sync_reset 7 2 4 #SB_DFFES
set_location SPI_Master_INST.un1_Bit_Index_cry_24_c 8 13 0 #SB_CARRY
set_location SPI_Master_INST.Tx_Data_RNO[7] 2 12 2 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[6] 8 10 6 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[1] 8 1 0 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[14] 8 11 6 #SB_DFFR
set_location async_fifo_inst.rd_ptr_counter_inst.count_cry_c[7] 5 12 7 #SB_CARRY
set_location SineDDS_INST.r_nco[3] 8 1 2 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_0_c 8 10 0 #SB_CARRY
set_location dds_clk_counter[1] 4 8 2 #SB_DFF
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNI7SCM[1] 5 11 1 #SB_LUT4
set_location SineDDS_INST.un1_r_nco_cry_13_c 8 2 4 #SB_CARRY
set_location SineDDS_INST.r_nco[18] 8 3 1 #SB_DFFER
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNO[1] 5 12 1 #SB_LUT4
set_location SPI_Master_INST.sclk_enable_RNO 7 8 6 #SB_LUT4
set_location SPI_Master_INST.Tx_Data[12] 2 13 5 #SB_DFFER
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg_RNO[1] 6 2 5 #SB_LUT4
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_3_c 8 8 3 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count_cry_c[6] 6 9 6 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNID3E3[1] 6 8 1 #SB_LUT4
set_location async_fifo_inst.reg_fifo_empty 7 6 0 #SB_DFFS
set_location SineDDS_INST.un1_r_nco_cry_22_c 8 3 5 #SB_CARRY
set_location SineDDS_INST.r_nco[27] 8 4 2 #SB_DFFER
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNO[10] 6 10 2 #SB_LUT4
set_location async_fifo_inst.tdp_ram_inst.mem_mem_0_2 3 7 0 #SB_RAM40_4K
set_location async_fifo_inst.rd_ptr_counter_inst.count_cry_c[9] 5 13 1 #SB_CARRY
set_location SineDDS_INST.r_nco_RNO[14] 8 2 5 #SB_LUT4
set_location SineDDS_INST.r_nco[9] 8 2 0 #SB_DFFER
set_location SineDDS_INST.p_rom.lut_value_1_0_5 10 11 0 #SB_RAM40_4K
set_location SineDDS_INST.o_sine_1[0] 5 3 3 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNO[15] 8 11 7 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNO[2] 6 9 2 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_4_OLD_e[1] 9 5 4 #SB_DFFE
set_location SPI_Master_INST.un1_Bit_Index_cry_20_c 8 12 4 #SB_CARRY
set_location SPI_Master_INST.un1_Bit_Index_cry_15_c 8 11 7 #SB_CARRY
set_location SPI_Master_INST.Bit_Index_RNIHIHM[11] 9 11 3 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[6] 8 10 6 #SB_DFFR
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNIH7E3[3] 6 8 2 #SB_LUT4
set_location SPI_Master_INST.o_sclk_RNO 4 9 2 #SB_LUT4
set_location SPI_Master_INST.o_sclk 4 9 2 #SB_DFFS
set_location async_fifo_inst.wr_ptr_counter_inst.count[10] 6 10 2 #SB_DFFER
set_location async_fifo_inst.reg_fifo_empty_RNIR0N6 6 12 5 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNI9UCM[2] 5 11 3 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count[8] 5 13 0 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_29_c 8 13 5 #SB_CARRY
set_location SPI_Master_INST.Tx_Data_RNO[4] 2 6 3 #SB_LUT4
set_location SPI_Master_INST.Tx_Data[6] 2 10 3 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNO[9] 8 11 1 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNIOPHM[18] 7 11 1 #SB_LUT4
set_location SPI_Master_INST.o_ss 4 9 5 #SB_DFFS
set_location SPI_Master_INST.Bit_Index_RNIJKHM[13] 9 11 6 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNI84AE[9] 9 10 7 #SB_LUT4
set_location r_Data_to_DAC[4] 2 9 4 #SB_DFFE
set_location async_fifo_inst.rd_ptr_counter_inst.count_cry_c[4] 5 12 4 #SB_CARRY
set_location SineDDS_INST.r_nco[6] 8 1 5 #SB_DFFER
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_6_c 8 8 6 #SB_CARRY
set_location SPI_Master_INST.Tx_Data_RNO[10] 2 13 2 #SB_LUT4
set_location dds_clk_counter[2] 4 8 4 #SB_DFF
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_6_c_RNO 7 12 4 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[21] 8 12 5 #SB_DFFR
set_location r_Data_to_DAC[13] 4 13 4 #SB_DFFE
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNO[4] 5 12 4 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count[6] 5 12 6 #SB_DFFER
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg_RNO[4] 8 5 0 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[24] 8 13 0 #SB_LUT4
set_location r_Data_to_DAC[9] 2 11 2 #SB_DFFE
set_location async_fifo_inst.wr_ptr_counter_inst.count_cry_c[9] 6 10 1 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count[8] 6 10 0 #SB_DFFER
set_location SineDDS_INST.un1_r_nco_cry_4_c 8 1 3 #SB_CARRY
set_location SineDDS_INST.r_nco_RNO[6] 8 1 5 #SB_LUT4
set_location SineDDS_INST.r_nco[22] 8 3 5 #SB_DFFER
set_location SineDDS_INST.r_nco_RNO[11] 8 2 2 #SB_LUT4
set_location SineDDS_INST.o_sine_1[7] 8 6 0 #SB_DFFER
set_location SPI_Master_INST.st_current_RNO[0] 6 11 0 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg[5] 8 5 2 #SB_DFFE
set_location SPI_Master_INST.Bit_Index[5] 8 10 5 #SB_DFFR
set_location SPI_Master_INST.Bit_Index_RNIKMIM[23] 9 10 2 #SB_LUT4
set_location SineDDS_INST.un1_r_nco_cry_5_c 8 1 4 #SB_CARRY
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg_RNO[10] 8 7 6 #SB_LUT4
set_location SPI_Master_INST.Tx_Data_RNO[1] 2 6 0 #SB_LUT4
set_location SPI_Master_INST.Tx_Data[3] 2 6 6 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNO[29] 8 13 5 #SB_LUT4
set_location r_Data_to_DAC[7] 2 9 1 #SB_DFFE
set_location async_fifo_inst.wr_ptr_counter_inst.count[2] 6 9 2 #SB_DFFER
set_location SPI_Master_INST.st_current[1] 6 11 7 #SB_DFFR
set_location SPI_Master_INST.un1_Bit_Index_cry_9_c 8 11 1 #SB_CARRY
set_location SPI_Master_INST.un1_Bit_Index_cry_27_c 8 13 3 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNO[5] 6 9 5 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[25] 8 4 0 #SB_LUT4
set_location SineDDS_INST.r_nco[12] 8 2 3 #SB_DFFER
set_location SPI_Master_INST.Bit_Index[24] 8 13 0 #SB_DFFR
set_location r_Data_to_DAC[10] 4 13 2 #SB_DFFE
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNIUAPC[9] 5 8 7 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNILMHM[15] 9 10 6 #SB_LUT4
set_location fifo_wr_data[3] 4 5 2 #SB_DFFE
set_location async_fifo_inst.rd_ptr_counter_inst.count[1] 5 12 1 #SB_DFFER
set_location SineDDS_INST.r_nco_RNO[30] 8 4 5 #SB_LUT4
set_location SineDDS_INST.r_nco[30] 8 4 5 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_23_c 8 12 7 #SB_CARRY
set_location SPI_Master_INST.o_mosi 4 12 5 #SB_DFFES
set_location SPI_Master_INST.Tx_Data[9] 2 12 0 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNO[23] 8 12 7 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[2] 8 10 2 #SB_LUT4
set_location fifo_wr_data[10] 4 10 2 #SB_DFFE
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNIJ9E3[4] 6 8 3 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[5] 8 1 4 #SB_LUT4
set_location SineDDS_INST.r_nco[21] 8 3 4 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNI51AE[6] 8 9 3 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[10] 8 11 2 #SB_DFFR
set_location async_fifo_inst.rd_ptr_counter_inst.count_cry_c[3] 5 12 3 #SB_CARRY
set_location SineDDS_INST.r_nco_RNO[12] 8 2 3 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNO[8] 6 10 0 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg[0] 9 2 0 #SB_DFFE
set_location SineDDS_INST.p_rom.lut_value_1_0_5_OLD_e[0] 9 7 0 #SB_DFFE
set_location SPI_Master_INST.Bit_Index_RNI2U9E[3] 7 9 5 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[8] 8 11 0 #SB_DFFR
set_location SPI_Master_INST.un1_Bit_Index_cry_0_c_RNO 7 9 2 #SB_LUT4
set_location fifo_wr_data[9] 4 10 5 #SB_DFFE
set_location SineDDS_INST.un1_r_nco_cry_3_c 8 1 2 #SB_CARRY
set_location r_Data_to_DAC[2] 2 5 6 #SB_DFFE
set_location async_fifo_inst.wr_ptr_counter_inst.count_cry_c[2] 6 9 2 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count[7] 6 9 7 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNI73AE[8] 9 10 3 #SB_LUT4
set_location async_fifo_inst.tdp_ram_inst.mem_mem_0_6 3 15 0 #SB_RAM40_4K
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNIDSVT1[10] 5 8 5 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_1 10 3 0 #SB_RAM40_4K
set_location SPI_Master_INST.un1_Bit_Index_cry_6_c 8 10 6 #SB_CARRY
set_location SPI_Master_INST.Bit_Index_RNO[11] 8 11 3 #SB_LUT4
set_location dds_clk_counter_RNO[2] 4 8 4 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNO[6] 6 9 6 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[20] 8 3 3 #SB_LUT4
set_location SineDDS_INST.r_nco[17] 8 3 0 #SB_DFFER
set_location SPI_Master_INST.Bit_Index[27] 8 13 3 #SB_DFFR
set_location SPI_Master_INST.Bit_Index[2] 8 10 2 #SB_DFFS
set_location fifo_wr_data[4] 4 7 5 #SB_DFFE
set_location SineDDS_INST.p_rom.lut_value_1_0_1_OLD_e[1] 9 3 0 #SB_DFFE
set_location SPI_Master_INST.un1_Bit_Index_cry_7_c 8 10 7 #SB_CARRY
set_location SPI_Master_INST.Bit_Index_RNO[5] 8 10 5 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNIPQHM[19] 7 11 2 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNILBE3[5] 5 9 4 #SB_LUT4
set_location async_fifo_inst.reg_fifo_empty_RNO 6 7 4 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNIIJHM[12] 7 10 0 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[15] 8 11 7 #SB_DFFR
set_location async_fifo_inst.rd_ptr_counter_inst.count_cry_c[0] 5 12 0 #SB_CARRY
set_location SineDDS_INST.r_nco[2] 8 1 1 #SB_DFFER
set_location SineDDS_INST.o_sine_1[9] 7 7 3 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_8_c 8 11 0 #SB_CARRY
set_location SPI_Master_INST.sclk_fall_RNILU1D1 7 10 2 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg[3] 9 4 3 #SB_DFFE
set_location SineDDS_INST.r_nco[19] 8 3 2 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_25_c 8 13 1 #SB_CARRY
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNO[0] 5 12 0 #SB_LUT4
set_location SPI_Master_INST.un1_Bit_Index_cry_22_c 8 12 6 #SB_CARRY
set_location SPI_Master_INST.Tx_Data[11] 2 13 4 #SB_DFFER
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg_RNO[0] 9 2 0 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_cry_c[5] 6 9 5 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count[4] 6 9 4 #SB_DFFER
set_location SineDDS_INST.un1_r_nco_cry_18_c 8 3 1 #SB_CARRY
set_location SineDDS_INST.r_nco[26] 8 4 1 #SB_DFFER
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_0_c 8 8 0 #SB_CARRY
set_location SPI_Master_INST.Bit_Index[30] 8 13 6 #SB_DFFR
set_location async_fifo_inst.tdp_ram_inst.mem_mem_0_1 3 5 0 #SB_RAM40_4K
set_location SineDDS_INST.r_nco_RNO[15] 8 2 6 #SB_LUT4
set_location SineDDS_INST.r_nco[8] 8 1 7 #SB_DFFER
set_location SineDDS_INST.p_rom.lut_value_1_0_2 10 5 0 #SB_RAM40_4K
set_location SineDDS_INST.o_sine_1[3] 7 5 2 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNO[16] 8 12 0 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNO[3] 6 9 3 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[23] 8 3 6 #SB_LUT4
set_location SineDDS_INST.r_nco[14] 8 2 5 #SB_DFFER
set_location SineDDS_INST.p_rom.lut_value_1_0_4_OLD_e[0] 9 8 0 #SB_DFFE
set_location SPI_Master_INST.Bit_Index[1] 8 10 1 #SB_DFFS
set_location SPI_Master_INST.un1_Bit_Index_cry_18_c 8 12 2 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNINDE3[6] 5 9 0 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNO[10] 5 13 2 #SB_LUT4
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_1_c 8 8 1 #SB_CARRY
set_location SPI_Master_INST.sclk_rise 7 9 7 #SB_DFFR
set_location SPI_Master_INST.Tx_Data_RNO[5] 2 8 6 #SB_LUT4
set_location SPI_Master_INST.Tx_Data[7] 2 12 2 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNO[8] 8 11 0 #SB_LUT4
set_location SPI_Master_INST.un1_Bit_Index_cry_1_c 8 10 1 #SB_CARRY
set_location SPI_Master_INST.Bit_Index[16] 8 12 0 #SB_DFFR
set_location async_fifo_inst.rd_ptr_counter_inst.count_cry_c[5] 5 12 5 #SB_CARRY
set_location SineDDS_INST.r_nco_RNO[18] 8 3 1 #SB_LUT4
set_location SineDDS_INST.r_nco[5] 8 1 4 #SB_DFFER
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNIJ8DM[7] 5 11 0 #SB_LUT4
set_location SPI_Master_INST.un1_Bit_Index_cry_16_c 8 12 0 #SB_CARRY
set_location SPI_Master_INST.Tx_Data_RNO[13] 4 12 3 #SB_LUT4
set_location dds_clk_counter[3] 4 8 6 #SB_DFF
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNIF5E3[2] 5 8 3 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[29] 8 4 4 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[20] 8 12 4 #SB_DFFR
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNO[7] 5 12 7 #SB_LUT4
set_location SineDDS_INST.un1_r_nco_cry_23_c 8 3 6 #SB_CARRY
set_location SPI_Master_INST.Tx_Data_RNO[8] 2 12 6 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count[5] 5 12 5 #SB_DFFER
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg_RNO[7] 9 6 6 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[27] 8 13 3 #SB_LUT4
set_location r_Data_to_DAC[8] 2 11 3 #SB_DFFE
set_location async_fifo_inst.wr_ptr_counter_inst.count_cry_c[8] 6 10 0 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count[9] 6 10 1 #SB_DFFER
set_location SineDDS_INST.un1_r_nco_cry_24_c 8 3 7 #SB_CARRY
set_location SineDDS_INST.un1_r_nco_cry_14_c 8 2 5 #SB_CARRY
set_location SineDDS_INST.r_nco[25] 8 4 0 #SB_DFFER
set_location SPI_Master_INST.o_mosi_RNO 4 12 5 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[16] 8 2 7 #SB_LUT4
set_location SineDDS_INST.o_sine_1[6] 7 7 7 #SB_DFFER
set_location SPI_Master_INST.st_current_RNO[1] 6 11 7 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg[4] 8 5 0 #SB_DFFE
set_location SPI_Master_INST.Bit_Index_RNIOQIM[27] 7 12 2 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[4] 8 10 4 #SB_DFFR
set_location SineDDS_INST.un1_r_nco_cry_25_c 8 4 0 #SB_CARRY
set_location SPI_Master_INST.Bit_Index_RNIMOIM[25] 8 9 7 #SB_LUT4
set_location dds_clk_RNIHA7M 4 8 3 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNO[9] 5 13 1 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNI5QCM[0] 5 11 7 #SB_LUT4
set_location SineDDS_INST.un1_r_nco_cry_16_c 8 2 7 #SB_CARRY
set_location SineDDS_INST.p_rom.lut_value_1_0_0_OLD_e[1] 6 1 7 #SB_DFFE
set_location SPI_Master_INST.Tx_Data_RNO[2] 2 6 2 #SB_LUT4
set_location SPI_Master_INST.Tx_Data[0] 2 6 5 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNO[28] 8 13 4 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg_RNO[9] 8 5 1 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_0_sr_en 6 8 7 #SB_DFF
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_7_c 8 8 7 #SB_CARRY
set_location r_Data_to_DAC[6] 1 9 6 #SB_DFFE
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNI45EA[9] 4 11 1 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count[3] 6 9 3 #SB_DFFER
set_location SineDDS_INST.un1_r_nco_cry_19_c 8 3 2 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNIRHE3[8] 5 9 7 #SB_LUT4
set_location SineDDS_INST.un1_r_nco_cry_27_c 8 4 2 #SB_CARRY
set_location SineDDS_INST.un1_r_nco_cry_11_c 8 2 2 #SB_CARRY
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg[9] 8 5 1 #SB_DFFE
set_location SPI_Master_INST.un1_Bit_Index_cry_11_c 8 11 3 #SB_CARRY
set_location fifo_clear 1 8 1 #SB_DFF
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNI2STV7[10] 5 8 2 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[24] 8 3 7 #SB_LUT4
set_location SineDDS_INST.r_nco[13] 8 2 4 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_19_c 8 12 3 #SB_CARRY
set_location SPI_Master_INST.Bit_Index[23] 8 12 7 #SB_DFFR
set_location r_Data_to_DAC[11] 4 13 3 #SB_DFFE
set_location fifo_wr_data[0] 4 3 1 #SB_DFFE
set_location async_fifo_inst.reg_fifo_full_RNO_0 5 7 1 #SB_LUT4
set_location async_fifo_inst.reg_fifo_empty_RNIEGAI 6 12 2 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count[0] 5 12 0 #SB_DFFER
set_location SineDDS_INST.r_nco_RNO[31] 8 4 6 #SB_LUT4
set_location SineDDS_INST.r_nco[31] 8 4 6 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_10_c 8 11 2 #SB_CARRY
set_location SPI_Master_INST.Bit_Index_RNO[22] 8 12 6 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[1] 8 10 1 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[4] 8 1 3 #SB_LUT4
set_location SineDDS_INST.r_nco[20] 8 3 3 #SB_DFFER
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_7_c_RNO 8 14 0 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[11] 8 11 3 #SB_DFFR
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNIT5E21[10] 6 8 5 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNIKBMJ1[2] 5 8 4 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[13] 8 2 4 #SB_LUT4
set_location SineDDS_INST.o_sine_1[5] 7 5 0 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_17_c 8 12 1 #SB_CARRY
set_location SPI_Master_INST.Bit_Index_RNO[18] 8 12 2 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNI1T9E[2] 8 9 1 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNO[9] 6 10 1 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg[7] 9 6 6 #SB_DFFE
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_7_c_RNIIK1O 7 10 3 #SB_LUT4
set_location SPI_Master_INST.sclk_fall 7 8 3 #SB_DFFR
set_location SPI_Master_INST.Tx_Data[15] 4 12 0 #SB_DFFER
set_location async_fifo_inst.reg_fifo_full_RNO 5 6 4 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[9] 8 2 0 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO_0[30] 7 12 1 #SB_LUT4
set_location r_Data_to_DAC[1] 2 5 1 #SB_DFFE
set_location async_fifo_inst.wr_ptr_counter_inst.count_cry_c[1] 6 9 1 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count[0] 6 9 0 #SB_DFFER
set_location async_fifo_inst.tdp_ram_inst.mem_mem_0_5 3 13 0 #SB_RAM40_4K
set_location SineDDS_INST.r_fcw[10] 7 2 5 #SB_DFFER
set_location SineDDS_INST.p_rom.lut_value_1_0_3_OLD_e[0] 9 7 1 #SB_DFFE
set_location SPI_Master_INST.Tx_Data_RNO[15] 4 12 0 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[12] 8 11 4 #SB_LUT4
set_location dds_clk_counter_RNO[3] 4 8 6 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNO[7] 6 9 7 #SB_LUT4
set_location SineDDS_INST.un1_r_nco_cry_1_c 8 1 0 #SB_CARRY
set_location SineDDS_INST.r_nco_RNO[27] 8 4 2 #SB_LUT4
set_location SineDDS_INST.r_nco[10] 8 2 1 #SB_DFFER
set_location SPI_Master_INST.Bit_Index[26] 8 13 2 #SB_DFFR
set_location SineDDS_INST.un1_r_nco_cry_29_c 8 4 4 #SB_CARRY
set_location fifo_wr_data[5] 4 7 3 #SB_DFFE
set_location async_fifo_inst.rd_ptr_counter_inst.count[3] 5 12 3 #SB_DFFER
set_location SineDDS_INST.un1_r_nco_cry_6_c 8 1 5 #SB_CARRY
set_location SPI_Master_INST.o_ss_RNO 4 9 5 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[4] 8 10 4 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[21] 8 12 5 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNIB0DM[3] 5 11 2 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[3] 8 1 2 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNIHJIM[20] 9 11 2 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNI3V9E[4] 8 9 2 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[12] 8 11 4 #SB_DFFR
set_location async_fifo_inst.rd_ptr_counter_inst.count_cry_c[1] 5 12 1 #SB_CARRY
set_location SineDDS_INST.r_nco[1] 8 1 0 #SB_DFFER
set_location SineDDS_INST.o_sine_1[8] 5 10 2 #SB_DFFER
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg[2] 9 4 1 #SB_DFFE
set_location SineDDS_INST.p_rom.lut_value_1_0_2_OLD_e[1] 9 5 6 #SB_DFFE
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNO[3] 5 12 3 #SB_LUT4
set_location SPI_Master_INST.Tx_Data[10] 2 13 2 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNIIKIM[21] 9 11 4 #SB_LUT4
set_location fifo_rd_en 6 12 3 #SB_DFF
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg_RNO[3] 9 4 3 #SB_LUT4
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_1_c_RNO 8 9 5 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_cry_c[4] 6 9 4 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count[5] 6 9 5 #SB_DFFER
set_location SineDDS_INST.r_nco[29] 8 4 4 #SB_DFFER
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_4_c_RNO 7 11 0 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[18] 8 12 2 #SB_DFFR
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNIPFE3[7] 5 9 6 #SB_LUT4
set_location async_fifo_inst.tdp_ram_inst.mem_mem_0_0 3 3 0 #SB_RAM40_4K
set_location async_fifo_inst.reg_fifo_full_RNIV97C 6 6 2 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_3 10 7 0 #SB_RAM40_4K
set_location SineDDS_INST.o_sine_1[2] 6 5 3 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_28_c 8 13 4 #SB_CARRY
set_location SPI_Master_INST.Tx_Done 6 11 2 #SB_DFFR
set_location SPI_Master_INST.Bit_Index_RNO[17] 8 12 1 #SB_LUT4
set_location dds_clk_counter_RNO[0] 4 8 1 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNO[0] 6 9 0 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNIC4NJ1[5] 5 9 5 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[22] 8 3 5 #SB_LUT4
set_location SineDDS_INST.r_nco[15] 8 2 6 #SB_DFFER
set_location SPI_Master_INST.Bit_Index[29] 8 13 5 #SB_DFFR
set_location SPI_Master_INST.Bit_Index[0] 7 9 1 #SB_DFFS
set_location fifo_wr_data[6] 4 7 1 #SB_DFFE
set_location SPI_Master_INST.Tx_Data_RNO[6] 2 10 3 #SB_LUT4
set_location SPI_Master_INST.Tx_Data[4] 2 6 3 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNO[7] 8 10 7 #SB_LUT4
set_location async_fifo_inst.reg_fifo_full 5 6 4 #SB_DFFS
set_location SPI_Master_INST.Bit_Index[17] 8 12 1 #SB_DFFR
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNI44I82[10] 6 8 6 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count_cry_c[6] 5 12 6 #SB_CARRY
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNILADM[8] 5 11 4 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[19] 8 3 2 #SB_LUT4
set_location SineDDS_INST.r_nco[4] 8 1 3 #SB_DFFER
set_location dds_clk 4 8 7 #SB_DFF
set_location SineDDS_INST.un1_r_nco_cry_8_c 8 1 7 #SB_CARRY
set_location SPI_Master_INST.Tx_Data_RNO[12] 2 13 5 #SB_LUT4
set_location dds_clk_counter[0] 4 8 1 #SB_DFF
set_location SineDDS_INST.r_nco_RNO[28] 8 4 3 #SB_LUT4
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_5_c_RNO 9 11 7 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNIPRIM[28] 7 11 3 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNO[6] 5 12 6 #SB_LUT4
set_location SineDDS_INST.un1_r_nco_cry_9_c 8 2 0 #SB_CARRY
set_location SPI_Master_INST.un1_Bit_Index_cry_3_c 8 10 3 #SB_CARRY
set_location SPI_Master_INST.Tx_Data_RNO[9] 2 12 0 #SB_LUT4
set_location SPI_Master_INST.Tx_Data[13] 4 12 3 #SB_DFFER
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNI9VTC[9] 5 9 2 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNI7U361[10] 5 9 3 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count[4] 5 12 4 #SB_DFFER
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg_RNO[6] 8 7 4 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[26] 8 13 2 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNINPIM[26] 7 12 3 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_cry_c[7] 6 9 7 #SB_CARRY
set_location SineDDS_INST.r_nco[24] 8 3 7 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_4_c 8 10 4 #SB_CARRY
set_location async_fifo_inst.tdp_ram_inst.mem_mem_0_3 3 9 0 #SB_RAM40_4K
set_location async_fifo_inst.rd_ptr_counter_inst.count_cry_c[8] 5 13 0 #SB_CARRY
set_location SineDDS_INST.un1_r_nco_cry_17_c 8 3 0 #SB_CARRY
set_location SineDDS_INST.r_nco_RNO[17] 8 3 0 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_4 10 9 0 #SB_RAM40_4K
set_location SineDDS_INST.o_sine_1[1] 5 2 5 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNO[14] 8 11 6 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNISKNJ1[7] 5 8 0 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[7] 8 10 7 #SB_DFFR
set_location fifo_wr_en 6 6 2 #SB_DFFE
set_location SPI_Master_INST.un1_Bit_Index_cry_26_c 8 13 2 #SB_CARRY
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNO[8] 5 13 0 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count[9] 5 13 1 #SB_DFFER
set_location SineDDS_INST.un1_r_nco_cry_26_c 8 4 1 #SB_CARRY
set_location SineDDS_INST.p_rom.lut_value_1_0_0_OLD_e[0] 9 1 3 #SB_DFFE
set_location SPI_Master_INST.Tx_Data_RNO[3] 2 6 6 #SB_LUT4
set_location SPI_Master_INST.Tx_Data[1] 2 6 0 #SB_DFFER
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg_RNO[8] 9 9 2 #SB_LUT4
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_2_c_RNO 9 11 0 #SB_LUT4
set_location r_Data_to_DAC[5] 2 7 6 #SB_DFFE
set_location SineDDS_INST.r_nco[7] 8 1 6 #SB_DFFER
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg[10] 8 7 6 #SB_DFFE
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNIF4DM[5] 5 11 6 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg[8] 9 9 2 #SB_DFFE
set_location SPI_Master_INST.o_sclk_RNO_0 4 11 7 #SB_LUT4
set_location SPI_Master_INST.Tx_Data_RNO[11] 2 13 4 #SB_LUT4
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_5_c 8 8 5 #SB_CARRY
set_location SPI_Master_INST.Tx_Done_RNO 6 11 2 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNILNIM[24] 7 10 1 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[22] 8 12 6 #SB_DFFR
set_location r_Data_to_DAC[12] 2 14 4 #SB_DFFE
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNO[5] 5 12 5 #SB_LUT4
set_location fifo_wr_data[1] 4 3 2 #SB_DFFE
set_location async_fifo_inst.rd_ptr_counter_inst.count[7] 5 12 7 #SB_DFFER
set_location async_fifo_inst.rd_ptr_counter_inst.count[10] 5 13 2 #SB_DFFER
set_location SineDDS_INST.un1_r_nco_cry_7_c 8 1 6 #SB_CARRY
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg_RNO[5] 8 5 2 #SB_LUT4
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_2_c 8 8 2 #SB_CARRY
set_location SPI_Master_INST.Bit_Index_RNO[25] 8 13 1 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[0] 7 9 1 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNIMNHM[16] 9 10 5 #SB_LUT4
set_location SineDDS_INST.r_nco_RNO[7] 8 1 6 #SB_LUT4
set_location SineDDS_INST.r_nco[23] 8 3 6 #SB_DFFER
set_location GND -1 -1 -1 #GND
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNIKBMJ1[1] 5 9 1 #SB_LUT4
set_location SineDDS_INST.un1_r_nco_cry_30_c 8 4 5 #SB_CARRY
set_location SineDDS_INST.r_nco_RNO[10] 8 2 1 #SB_LUT4
set_location SineDDS_INST.o_sine_1[4] 7 5 6 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_12_c 8 11 4 #SB_CARRY
set_location SPI_Master_INST.clock_counter_RNIAP6D[0] 7 8 3 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[30] 8 13 6 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[19] 8 12 3 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg[6] 8 7 4 #SB_DFFE
set_location SPI_Master_INST.Bit_Index_RNI62AE[7] 8 9 4 #SB_LUT4
set_location w_reset 6 12 0 #SB_DFF
set_location SPI_Master_INST.un1_Bit_Index_cry_2_c 8 10 2 #SB_CARRY
set_location SPI_Master_INST.Bit_Index_RNI40AE[5] 8 9 6 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNI0S9E[1] 7 9 3 #SB_LUT4
set_location SPI_Master_INST.Tx_Data_RNO[0] 2 6 5 #SB_LUT4
set_location SPI_Master_INST.Tx_Data[2] 2 6 2 #SB_DFFER
set_location SPI_Master_INST.Tx_Data[14] 4 12 6 #SB_DFFER
set_location SineDDS_INST.un1_r_nco_cry_20_c 8 3 3 #SB_CARRY
set_location SineDDS_INST.un1_r_nco_cry_10_c 8 2 1 #SB_CARRY
set_location SineDDS_INST.r_nco_RNO[8] 8 1 7 #SB_LUT4
set_location r_Data_to_DAC[0] 2 5 3 #SB_DFFE
set_location async_fifo_inst.wr_ptr_counter_inst.count_cry_c[0] 6 9 0 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count[1] 6 9 1 #SB_DFFER
set_location SineDDS_INST.un1_r_nco_cry_28_c 8 4 3 #SB_CARRY
set_location SPI_Master_INST.st_current[0] 6 11 0 #SB_DFFR
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNILFGQ2[9] 5 8 1 #SB_LUT4
set_location async_fifo_inst.tdp_ram_inst.mem_mem_0_4 3 11 0 #SB_RAM40_4K
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNIH6DM[6] 4 11 4 #SB_LUT4
set_location SineDDS_INST.un1_r_nco_cry_2_c 8 1 1 #SB_CARRY
set_location SineDDS_INST.p_rom.lut_value_1_0_3_OLD_e[1] 9 7 7 #SB_DFFE
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_3_c_RNO 9 10 0 #SB_LUT4
set_location SPI_Master_INST.Tx_Done_RNIJFJB 6 12 0 #SB_LUT4
set_location SPI_Master_INST.Tx_Data_RNO[14] 4 12 6 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[13] 8 11 5 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNO[4] 6 9 4 #SB_LUT4
set_location SineDDS_INST.un1_r_nco_cry_21_c 8 3 4 #SB_CARRY
set_location SineDDS_INST.r_nco_RNO[26] 8 4 1 #SB_LUT4
set_location SineDDS_INST.r_nco[11] 8 2 2 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_21_c 8 12 5 #SB_CARRY
set_location SPI_Master_INST.Bit_Index[25] 8 13 1 #SB_DFFR
set_location SineDDS_INST.un1_r_nco_cry_12_c 8 2 3 #SB_CARRY
set_location w_rstb_ibuf_RNIM801 12 8 7 #SB_LUT4
set_location fifo_wr_data[2] 4 5 1 #SB_DFFE
set_location async_fifo_inst.rd_ptr_counter_inst.count[2] 5 12 2 #SB_DFFER
set_location SineDDS_INST.o_sine_1[10] 5 10 1 #SB_DFFER
set_location SPI_Master_INST.Tx_start 6 11 1 #SB_DFFR
set_location SPI_Master_INST.Tx_Data[8] 2 12 6 #SB_DFFER
set_location SPI_Master_INST.Bit_Index_RNO[3] 8 10 3 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNO[20] 8 12 4 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNIGHHM[10] 7 10 7 #SB_LUT4
set_location dds_clk_RNII00A 4 8 0 #SB_LUT4
set_location SineDDS_INST.un1_r_nco_cry_15_c 8 2 6 #SB_CARRY
set_location SineDDS_INST.r_nco_RNO[2] 8 1 1 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNINOHM[17] 7 11 7 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[13] 8 11 5 #SB_DFFR
set_location async_fifo_inst.rd_ptr_counter_inst.count_cry_c[2] 5 12 2 #SB_CARRY
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg[1] 6 2 5 #SB_DFFE
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_4_c 8 8 4 #SB_CARRY
set_location SPI_Master_INST.Bit_Index[9] 8 11 1 #SB_DFFR
set_location async_fifo_inst.reg_fifo_full_RNITS3Q 6 7 6 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_2_OLD_e[0] 9 5 3 #SB_DFFE
set_location SPI_Master_INST.un1_w_tc_counter_datalto30_i_a2_0_c_RNO 7 9 0 #SB_LUT4
set_location SPI_Master_INST.un1_Bit_Index_cry_14_c 8 11 6 #SB_CARRY
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNO[2] 5 12 2 #SB_LUT4
set_location fifo_wr_data[8] 4 10 0 #SB_DFFE
set_location SineDDS_INST.p_rom.lut_value_1_0_dreg_RNO[2] 9 4 1 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNIQSIM[29] 9 11 1 #SB_LUT4
set_location r_Data_to_DAC[3] 2 5 4 #SB_DFFE
set_location async_fifo_inst.wr_ptr_counter_inst.count_cry_c[3] 6 9 3 #SB_CARRY
set_location async_fifo_inst.wr_ptr_counter_inst.count[6] 6 9 6 #SB_DFFER
set_location SineDDS_INST.r_nco[28] 8 4 3 #SB_DFFER
set_location SPI_Master_INST.un1_Bit_Index_cry_5_c 8 10 5 #SB_CARRY
set_location SPI_Master_INST.un1_Bit_Index_cry_13_c 8 11 5 #SB_CARRY
set_location SPI_Master_INST.sclk_enable 7 8 6 #SB_DFFR
set_location SPI_Master_INST.clock_counter[0] 7 8 1 #SB_DFFR
set_location SPI_Master_INST.Bit_Index[19] 8 12 3 #SB_DFFR
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNIB1E3[0] 6 8 4 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_0 10 1 0 #SB_RAM40_4K
set_location SPI_Master_INST.Bit_Index_RNO[10] 8 11 2 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNIKLHM[14] 7 10 5 #SB_LUT4
set_location SPI_Master_INST.Bit_Index_RNIJLIM[22] 7 11 6 #SB_LUT4
set_location dds_clk_counter_RNO[1] 4 8 2 #SB_LUT4
set_location async_fifo_inst.wr_ptr_counter_inst.count_RNO[1] 6 9 1 #SB_LUT4
set_location SPI_Master_INST.sclk_rise_RNO 7 9 7 #SB_LUT4
set_location SPI_Master_INST.Bit_Index[3] 8 10 3 #SB_DFFS
set_location w_reset_RNIPU49 6 13 5 #SB_LUT4
set_location async_fifo_inst.rd_ptr_counter_inst.count_RNID2DM[4] 5 11 5 #SB_LUT4
set_location SineDDS_INST.p_rom.lut_value_1_0_1_OLD_e[0] 9 3 4 #SB_DFFE
set_location SPI_Master_INST.Tx_Data[5] 2 8 6 #SB_DFFER
set_io w_rstb 48
set_io w_mosi 47
set_io r_Clock 21
set_io w_ss 45
set_io w_sclk 44
